


.navbar {
    text-align: center;
    background-color: #DAEAF1;
}

body {
    background-color: #DAEAF1;
    margin-top:20px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.row.align-items-center.g-5.py-5 {
    display: flex;
    height: 100vh;
    justify-content: center;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 4rem;
    font-weight: bold;
    color: #005C66;
}

.p{
  font-family: 'Afacad', sans-serif;
  color: #1A6A75 !important;
}


.imgprof {
    align-items: flex-end;
    width: auto;
}


.col-lg-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.col-lg-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}


h2 {
  font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: bold;
    color: #005C66 !important;
}


.card-wrapper {
    position: relative;
    overflow: hidden;
}
.card-wrapper .card-img {
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.card-wrapper .card-img img {
    transition: all 0.3s ease-in-out;
    border-radius: 0.25rem;
    border-radius: 0.25rem;
}
.card-wrapper .card-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    transform: translateX(-100%);
    transition: 0.8s;
    z-index: 11;
}
.card-wrapper:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    right: 100%;
    z-index: 9;
    transition: 0.8s;
    background: #C6DCE4;
    border-radius: 0.25rem;
}
.card-wrapper:hover:before {
    right: 0;
}
.card-wrapper h3,
.card-wrapper p {
    color: black;
}
.card-wrapper .read-more {
    color: black;
}
.card-wrapper .read-more:after {
    color: black;
}
.card-wrapper:hover .card-body {
    visibility: visible;
    transform: translateX(0px);
}
.card-wrapper:hover .backgound-color {
    right: 0;
}

.topabout {
    height: 10rem;
}



@media (max-width:991px){
    .col-lg-7 {
        margin-bottom: 20px;
    }
    .col-lg-5 {
        margin-bottom: 20px;
    }
    .row.list-project {
        display: flex;
        justify-content: center;
    }
    .card-img {
        width: auto;
    }
    .spacer-line-fw,
    .border-secondary,
    .opc-25,
    .mt-30,
    .mb-30 {
    /* Override styles for screens less than or equal to 992px */
    display: none; /* or any other styles you want for smaller screens */
  }
  .mephoto {
    width: 200px !important;
}

.projectimgm{
  width: auto;
  height: 300px;
}

.projectimgmm {
  width: auto;
  height: 300px;
}
}





.read-more:after {
    content: '\f0a9';
    font-family: Font Awesome\ 5 Free;
    font-weight: 600;
    padding-left: 8px;
    font-weight: 900;
    color: #00baee;
    vertical-align: middle;
}


.card-img {
    max-width: auto;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.rounded {
    border-radius: 5px !important;
}

.mephoto {
    border-radius: 50%;
    width: 300px;
}


.g-6,
.gx-6 {
  --bs-gutter-x: 4.5rem;
}
.g-6,
.gy-6 {
  --bs-gutter-y: 4.5rem;
}


@media (min-width: 576px) {
  .g-sm-6,
  .gx-sm-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-sm-6,
  .gy-sm-6 {
    --bs-gutter-y: 4.5rem;
  }
  .mb-sm-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-sm-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media (min-width: 768px) {
  .g-md-6,
  .gx-md-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-md-6,
  .gy-md-6 {
    --bs-gutter-y: 4.5rem;
  }
  .mb-md-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-md-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .projectimgm{
    width: auto;
    height: 400px;
}

.projectimgmm {
    width: auto;
    height: 400px;
}
}
@media (min-width: 992px) {
  .g-lg-6,
  .gx-lg-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-lg-6,
  .gy-lg-6 {
    --bs-gutter-y: 4.5rem;
  }
  .mb-lg-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-lg-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .projectimgm{
    width: auto;
    height: 300px;
}

.projectimgmm {
    width: auto;
    height: 400px;
}
}
@media (min-width: 1200px) {
  .g-xl-6,
  .gx-xl-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-xl-6,
  .gy-xl-6 {
    --bs-gutter-y: 4.5rem;
  }
  .mb-xl-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-xl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .projectimgm{
    width: auto;
    height: 500px;
}

.projectimgmm {
    width: auto;
    height: 600px;
}
}
@media (min-width: 1400px) {
  .g-xxl-6,
  .gx-xxl-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-xxl-6,
  .gy-xxl-6 {
    --bs-gutter-y: 4.5rem;
  }
  .mb-xxl-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-xxl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
.mb-6 {
  margin-bottom: 4.5rem !important;
}
.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.sendmessage {
  margin-top: 1rem;
  border-color: #005C66;
  color:#005C66
}

.lead {
  color: #333333;
}